#tab1{
  padding: 20px 20px 20px 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
/*top, right, bottom, and left*/
#tab2 {
  padding: 20px 25px 20px 25px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#tab3 {
  padding: 20px 46px 20px 46px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
h5.special {
  font-family: 'Paytone One', sans-serif;
  font-size: 25px;
}

.App {
  background-color: #fafafa;
  font-family: 'Be Vietnam';
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Be Vietnam';
}
.displayContainer {
  padding: 10px 30px 10px 80px;
}
.container-pic {

}
.regular-pic {

}
#regularPic {
  max-width:100%;
  height:auto;

}
#links {
  text-decoration: none;
  color: white;
}
#links:hover {
  color: #9A1750;
}
#main {
  width: 100%;
  max-width: 400px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
}
#avatar {
  width: 120px;
  height: 120px;
  border-radius:50%;
  object-fit: cover;
  display:inline;
  cursor: pointer;
}
#box {
  box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  background: white;
  border-radius: 5px;
}
#imageCards {
  width: 80%;
  height: 80%;
  display:inline;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#admin-avatar{
  width: 150px;
  height: 150px;
  border-radius:50%;
  object-fit: cover;
  display:inline;
  cursor: pointer;
}
.admins{
  position: relative;
  width: 150px;
  margin-left:auto;
  margin-right:auto;
}

@media (max-width: 768px) {
  .container-pic {
    position: relative;
    width: 150px;
    margin-left:auto;
    margin-right:auto;
  }
  .col-sm {
    margin-bottom: 20px;
  }
  .fresh {
    align-content: center;
  }
}

